.ContentContainer {
  width: 80%;
  display: flex;
  direction: rtl;
}
.ContentContainer > div {
  font-size: 4vh;
  /* margin: 0.1em 1em 0 0;*/
   padding-right: .5em; 
   padding-left: .5em; 
  border-radius: 3px;
  width: 100%;
}
.RowContainer {
  display: flex;
  justify-content: center;
}
.HeadContainer {
  display: inline-block;
  font-family: "Vazir-Thin";
  display: flex;
  direction: rtl;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* height: 20vh; */
}
.title {
  font-size: 1em;
  font-family: "Vazir-thin";
  font-weight: bolder;
  border-bottom: 1px solid rgb(139, 25, 139);
  width: 20% !important;
  margin: auto;
  padding-top: .8em;
}
.help {
  padding-left: 15px;
  padding-top: .8em;
  padding-bottom: 2em;
  font-family: "Vazir-bold";
  font-size: 14px;
  font-weight: bolder;
  color: rgb(183, 43, 226);
}


.formLine{
  /* margin-right: 1em; */
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
.formLine .text{
  width: 90%;
  margin-bottom: 1.5em;
}

.InputSmall { 
  margin-left: 1em;
  width: 22% !important;
}


.hidden{
   display: none; 
}
.clickSearch{
  border: 2px red;
}
.clickSearch .image{
width: 15px;
height: 15px;
}
.font-style{
  font-family: "vazir-bold";
  color: blueviolet;
}


/**Desktop Query***************************************************************/
 @media only screen and (min-width: 768px) {
  .ContentContainer {
    width: 80%;
    
  }
} 

/*Tablet Query*****************************************************************/
 @media only screen and (min-width: 481px) and (max-width:768px) {
  .ContentContainer {
    width: 100%;
  }
  .formLine{
    
    width: 49%;
    display: inline-block;
  }
  .formLine .text{
    width: 90%;
    margin-bottom: 1.5em;
  }
  .title {
    font-size: 2em;
  }
} 
/*Mobile Query***************************************************************/
 @media only screen and (max-width:480px) {
  .ContentContainer {
    width: 100%;
  }
  .formLine{
    width: 40%;
  }
  .formLine .text{
    width: 40%;
  }
  .title {
    font-size: 2em;
  }
} 