.sideMenuContainer {
  display: flex;
  flex-direction: column;
  float: right;
  width: 20%;
  
  background-color: rgb(98, 0, 128);
}
.menuItems >div{
font-size:large ;
color: white;
padding: 15px 35px;
}
.menuItems >div:hover{
  background: rgb(93, 0, 168);
 font-size: xx-large;
 color: rgb(240, 136, 222);
  }


/**Desktop Query*/
@media only screen and (min-width: 768px) {
  .sideMenuContainer {
      height: 315vh;
  }
}

/*Tablet Query*/
@media only screen and (min-width: 481px) and (max-width:768px) {
  .sideMenuContainer {
    width: 100%;
    height: 45em;
  }
}


/*Mobile Query*/
@media only screen and (max-width:480px) {
  .sideMenuContainer {
    width: 100%;
    height: 45em;
  }
}