.menu {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-image: linear-gradient(to right, purple 55%, red);
}
.Iricon{
 width: 2vw;
 height: 4vh;
 padding-left: 1vw;
}
.donyaro-logo{
  font-size: 60%;
  font-family: "vazir-bold";
  color: white;
}